<!-- Resume Section -->
<section id="resume">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resume</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <a href="#resumeModal" class="btn btn-lg btn-success" data-toggle="modal">
                  View Resume
              </a>
          </div>
        </div>
    </div>
</section>
<div class="portfolio-modal modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <h2>Resume</h2>
                        <hr class="star-primary">
                        <object data="img/portfolio/Shayna_Bane_Resume.pdf" type="application/pdf" width="900" height="600">
                          <p>It appears you don't have a PDF plugin for this browser.
                          No biggie... you can <a href="img/portfolio/Shayna_Bane_Resume.pdf">click here to
                          download the PDF file.</a></p>
                        </object>
                        <br />
                        <a href="img/portfolio/Shayna_Bane_Resume.pdf">(resume link)</a>
                        <br /><br />
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
