<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Branding</h2>
                        <hr class="star-primary">
                        <object data="img/portfolio/branding.pdf" type="application/pdf" width="710" height="600">
                          <p>It appears you don't have a PDF plugin for this browser.
                          No biggie... you can <a href="img/portfolio/branding.pdf">click here to
                          download the PDF file.</a></p>
                        </object>
                        <p>Developed &amp; perpetuated the brand identity. Presented to stakeholders, clients, &amp; partners.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
