<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Email Marketing</h2>
                        <hr class="star-primary">
                        <div class="row">
                          <div class="col-xs-6 text-center">
                            <h3>Sitewide</h3>
                            <a href="http://us10.campaign-archive1.com/?u=c7e9d4b74eae3f4b0a0fd44d0&id=83a850b6db&e=" target="_blank">
                              <img src="img/portfolio/email/Sitewide.jpg" class="img-responsive img-centered" alt="">
                            </a>
                          </div>
                          <div class="col-xs-6 text-center">
                            <h3>Content First</h3>
                            <a href="http://us10.campaign-archive1.com/?u=c7e9d4b74eae3f4b0a0fd44d0&id=a739cdf86f&e=" target="_blank">
                              <img src="img/portfolio/email/Content-First.jpg" class="img-responsive img-centered" alt="">
                            </a>
                          </div>
                          <div class="col-xs-6 text-center">
                            <h3>Product Focus</h3>
                            <a href="http://us10.campaign-archive1.com/?u=c7e9d4b74eae3f4b0a0fd44d0&id=de446def50&e=" target="_blank">
                              <img src="img/portfolio/email/Product-Focus.jpg" class="img-responsive img-centered" alt="">
                            </a>
                          </div>
                          <div class="col-xs-6 text-center">
                            <h3>Circular</h3>
                            <a href="http://us10.campaign-archive2.com/?u=c7e9d4b74eae3f4b0a0fd44d0&id=4e98a35784&e=" target="_blank">
                              <img src="img/portfolio/email/Circular.jpg" class="img-responsive img-centered" alt="">
                            </a>
                          </div>
                        </div>
                        <p>Planned and executed all email marketing campaigns. Used various strategies, A/B Testing, &amp; analytics to drive success rates.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
