<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Weston Products Blog</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/blogging.jpg" class="img-responsive img-centered" alt="">
                        <p><a href="http://blog.westonproducts.com/" class="btn btn-lg btn-warning">
                            Weston Products Blog
                        </a></p>
                        <p>Developed content (including recipe development) &amp; shot in-use photography for the company blog while creating a loyal and expanding following.
                           Used analytics to drive email conversions &amp; product sales with content created for the blog.
                           Also designed &amp; implemented the website templates.</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://blog.westonproducts.com/">Weston Products Blog</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>2010 - Present</strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
