<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>E-Commerce</h2>
                        <hr class="star-primary">
                        <img src="img/portfolio/ecommerce.jpg" class="img-responsive img-centered" alt="">
                        <p><a href="http://www.westonsupply.com/" class="btn btn-lg btn-warning">
                            <i class="fa fa-shopping-cart"></i> Weston Supply
                        </a></p>
                        <p>Managed website from presentation to order completion (and sales fulfillment). SEO &amp; PPC ad campaigns. Google Analytics. Sales Conversions. Product photography coordination.</p>
                        <ul class="list-inline item-details">
                            <li>Website:
                              <strong><a href="http://www.westonsupply.com/">Weston Supply</a>
                              </strong>
                            </li>
                            <li>Date:
                                <strong>2010-Present
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
